body { 
  background-image: url('https://uploads.onecompiler.io/44besbvws/44bx94rhy/1000119123.jpg');
  background-position-x: -25px;
  background-position-y: 50px;
  background-repeat: no-repeat;
  background-size: 500px;
  
}
.title {
	color: #5C6AC4;
}
