body { 
  background-image: url('qatar-airways-a350-1000-taxiing1-shutterstock_1664335612.jpg');
  background-position-x: -25px;
  background-position-y: 50px;
  background-repeat: no-repeat;
  background-size: 700px;
  
}
.title {
	color: #5C6AC4;
}
